.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 100rem;
  grid-auto-flow: row;
}
.imgholder {
  margin: 0.2rem;
  height: 12rem;
  width: 12rem;
}
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    width: 40rem;
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    width: 20rem;
  }
}
